@{
    ViewData["Title"] = "Ckeditor With Uploads";
}

<form method="post">
    <textarea class="form-control" id="editor" name="Upload"></textarea>
</form>

@section Scripts
{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>
       
        CKEDITOR.replace('editor', {
            customConfig:'/lib/ckeditor/Config.js'
        });
            
    </script>

}